body{
    height:auto;
    width: auto;
    background-color:hsl(0,100%,74%);
    background-image: url('imagens/bg-intro-desktop.png');
    background-image: url('imagens/bg-intro-mobile.png');
    margin: auto;
}

h1{
    position:relative;
    top: 290px;
    left: 150px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#primeiro{
    position:relative;
    top: 300px;
    left: 150px;
    text-align: left;
    margin-right: 875px;
    color: white;
}

h2{
    position: relative;
    display: inline-block;
    left: 920px;
    top: 40px; ;
    font-size: 15px;
    background-color: darkslateblue;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px; 
    padding: 25px 30px;
}

form{
    text-align: center;
    background-color: white;
    position: relative;
    display: inline-block;
    top: 60px;
    left: 900px;
    border-radius: 10px;
    padding: 10px 30px;
}

input{
    display: block;
    text-align: left;
    margin: 40px 20px;
    border-radius: 5px;
    padding: 15px 15px;
}

button{
    margin: 20px 30px;
    background-color:darkgreen ;
    color:white;
    border-radius: 5px;
    text-align: center;
    border: 0px;
    padding: 10px 20px;
    
}

p{
    color: darkgray;
}

strong{
    color: red;
}