body{
    height:auto;
    width: auto;
    background-color:hsl(0,100%,74%);
    background-image: url('imagens/bg-intro-desktop.png');
    background-image: url('imagens/bg-intro-mobile.png');
    margin: auto;
}

h1{
    position:relative;
    top: 200px;
    left: 150px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
}

#primeiro{
    position:relative;
    top: 210px;
    left: 150px;
    text-align: left;
    margin-right: 875px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
}

h2{
    position: relative;
    display: inline-block;
    left: 1000px;
    top: 100px; ;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: darkslateblue;
    color: white;
    border-radius: 5px;
}

form{
    position: relative;
    display: inline-block;
    top: 100px;
    left: 1000px;
}

