body{
    display: inline-block;
    height:auto;
    width: auto;
    background-color:hsl(0,100%,74%);
    background-image: url('imagens/bg-intro-desktop.png');
}

h1 {
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 10px;
    width: 250px;
}

h2{
    position: relative;
    text-align: left;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    left: 815px;
    margin: 20px;
}

p{
    display: inline-block;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-top: 250px;
}



h2{

    display: inline-block;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(248,32%,49%);
    text-align: right;

}

fieldset{
    position: relative;
    background-color: white;
    display:inline-block;
    height: 570px;
    width: 470px;
    border-radius: 5%;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    left: 800px;

}

input{
    position: relative;
    width: 70%;
    text-align: left;
    margin-block: 30px 10px;
}

a{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

